{% extends "_base.html.j2" %}
{% block content %}
<div style="padding:200px 60px; text-align:center;">
  <h1 style="font-family:var(--ff-headline); font-size:60px;">경기도 지도 (v1.5 추가 예정)</h1>
  <p style="font-family:var(--ff-body); font-size:32px; color:var(--fg-3);">gyeonggi.geojson 필요</p>
</div>
{% endblock %}
